{% extends "network/layout.html" %}

{% block body %}
   {% load static %}
   <script src="{% static 'network/post.js' %}"></script>   
   <div class="" id="post-div">
    <h3>{{ post.author }}</h3>
    <p id="post-body">{{ post.body }}</p>
   </div>
    <br>
    {% if user_id == post.author.id %}
        <button id="edit-btn">Edit</button>
    {% else %}
        <span id="edit-btn" hidden></span>
    {% endif %}
    <br>
    <p id="likes">likes: {{ like_count }}</p>

    <div id="edit-view">
        <form id="compose-form">
            <textarea class="form-control" id="edit-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
   <p id="does_like" hidden>{{ does_like }}</p>
   <br>
   {% if user.is_authenticated %}
    <button id="like-button" onclick="like('{{ user_id }}', '{{ post.id }}')">Like</button>
   {% endif %}

{% endblock %}